body,
html,
* {
  background-color: #3c5d60;
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: "Long Cang", cursive;
}

body {
  background: linear-gradient(to top, #24363d, #112f2b, #38655a, #4d685e);
}

a {
  text-decoration: none;
}

img {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.header {
  color: #d7cfb9;
  background-color: #357469;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  font-size: 10rem;
  text-align: center;
}

.big {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  margin: 1rem auto;
  background-color: #9baa9f;
  justify-content: space-around;
  margin-top: 100;
  margin-bottom: auto;
  padding-bottom: 30px;
  padding-top: 22px;
  box-shadow: inset 0 0 20px 20px #4d685e;
  border-radius: 3%;
}

.small {
  background-color: #7d9686;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  width: 21%;
  box-shadow: 10px 10px 10px #112f2b, 20px 20px 20px #357469;
  border-radius: 3%;
  transition: all 0.3s;
}

.Songname {
  color: #d7cfb9;
  font-size: 4.4rem;
}

.name {
  color: #d7cfb9;
  font-size: 2.2rem;
}

div.small:hover {
  transform: scale(110%);
}

#first:hover {
  background-color: #d7cfb9;
}

#second:hover {
  transform: scale(1.1);
  outline: 1rem solid #24363d;
}

#third:hover {
  animation: chonk 3s;
  z-index: 900;
}

@keyframes chonk {
  from {
    transform: scale(2);
  }
  to {
    transform: scale(1.1);
  }
}

#fourth{
  opacity:0.5;
}

#fourth:hover {
  opacity:1;
}

#fifth{
  animation: bounceIn 4s;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

#fifth{
  transition: all 1s;
}

#fifth:hover{
  transform: rotateX(360deg);
}

